*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar {
    width: 100%;
    background: #a5741a;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    padding-bottom: 8px;
}
/* TOP ROW */
.top-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
.logo img {
    height: 40px;
}

.shop-name {
    font-size: 24px;
    font-weight: bold;
  
}

.icons i {
    font-size: 20px;
    margin-left: 15px;
    cursor: pointer;
}

/* MENU ROW */
.menu-row {
    display: flex;
    justify-content: center;
    background: #a5741a;
    padding:10px 120px 10px 15px;
}

.menu-row a {
    margin: 0 20px;
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 500;
}

.menu-row a:hover {
    color: #483e3e;
}
.describe {
    text-align: center;
   padding:25px 15px;
}
.buttons {
    display: flex; 
    justify-content: space-between;
    padding: 5px;  
    background-color: #a5741a; 
}
.rec-btn {
    padding: 0.7rem 1.5rem;
    border: none;
    cursor: pointer;
    background-color: #a5741a;
}
.hide-btn{
    padding: 0.7rem 1.5rem;
    border: none;
    cursor: pointer;
    background-color: #a5741a;
}
/* Sidebar default (hidden) */
.sidebar {
    width: 250px;
    height: 100vh;
    background: #a5741a;
    color: white;
    padding: 20px;
    position: fixed;
    top: 0;
    left: -250px; /* Hidden position */
    transition: 0.3s ease;
}
.sidebar.open {
    left: 0;   /* slide into screen */
}

/*.sidebar {
    left: -250px; /* hide by default 
} */


.products  img {
    
    display: flex; 
    gap:10px;
    height:200px;
    width:200px;
}
footer {
    background-color: #111;
}
.footercontainer {
    width:100%;
    padding: 70px 30px 20px;
}
.socialIcons {
  display: flex;
  justify-content: center;
}
.socialIcons a {
   text-decoration: none;
   padding: 10px;
   background-color: white;
   margin:10px;
   border-radius: 50%;
}
.socialIcons a i{
    font-size: 2em;
    color: black;
    opacity: 0.9;
}
.socialIcons a:hover{
    background-color: #111;
    transition: 0.5s;
}
.socialIcons a:hover i{
    color: white;
    transition: 0.5s;
}
.footerNav{
  margin: 30px 0;
}
.footerNav ul{
    display: flex;
    justify-content: center;
    list-style: none;
}
.footerNav ul li a {
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
}
.footerNav ul li a:hover{
    opacity:1;
}
.footerbottom{
    background-color: #000;
    padding: 20px;
    text-align: center;
}
.footerbottom p{
    color: white;
}
.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}
@media (max-width: 700px){
    .footerNav ul{
        flex-direction: column;
    }
    .footerNav ul li{
        width:100%;
        text-align: center;
        margin: 10px;
    }
}
.section-p1 {
    padding: 40px 80px;
}
#feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
#feature .products{
    width: 200px;   
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0,0,0,0.03);
    border: 1px solid #cce7d0; 
    border-radius: 4px;
    margin: 15px 0;
}
#feature .products img{
    width: 100%;
    margin-bottom: 10px;
}
#feature .products:hover{
    box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}
#feature .products h6{
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color:#088178;
    background-color: #fddde4;
}
